@*Page scripts references*@    
<script src="~/Scripts/MoviesScript.js" type="text/javascript"></script>    
    
<section class="m-3">    
    <section class="card">    
        <section class="card-header text-center">    
            <label class="h3">Create Movies</label>    
        </section>    
        <section class="card-body">    
            <section id="form-container">    
                <section class="form-group">    
                    <label>Title:</label>    
                    <input type="text" placeholder="Title" id="TitleTxt" class="form-control" />    
                </section>    
                <section class="form-group">    
                    <label>Summary:</label>    
                    <input type="text" placeholder="Summary" id="SummaryTxt" class="form-control" />    
                </section>    
                <section class="form-group">    
                    <label>Year:</label>    
                    <input type="text" placeholder="Year" id="YearTxt" class="form-control" />    
                </section>    
                <section class="text-center">    
                    <a href="javascript:void(0)" class="text-info" id="AddTempMovieBtn">ADD MOVIE</a>    
                </section>    
            </section>    
            <section id="MsnContainer">    
                <section class="text-center">    
                    <label class="font-weight-bold text-danger" id="Msn"></label>    
                </section>    
            </section>    
            <br><br>    
            <section id="table-container">    
                <table class="table table-bordered table-striped datatable" id="table-information">    
                    <thead>    
                        <tr class="bg-info text-light font-weight-bold text-center">    
                            <td>Title</td>    
                            <td>Summary</td>    
                            <td>Year</td>    
                            <td>Actions</td>    
                        </tr>    
                    </thead>    
                    <tbody id="table-body"></tbody>    
                </table>    
                <section class="text-center">    
                    <button id="SubmitMoviesBtn" disabled="disabled" class="btn btn-success w-50">SAVE ALL MOVIES</button>    
                </section>    
            </section>    
        </section>    
    </section>    
</section>    